* 
{
    font-family: 'Poiret One', sans-serif;
    color: white;
    text-shadow: 0 1px 1px #43434329;
}

body 
{
    margin: 0;
    padding: 0;
}

.background-center
{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e4fafe;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    padding-bottom: 60px;
}

.titulo
{
    font-size: 80px;
    font-weight: 1000;
    margin-bottom: 50px;
    color: #ffffff;
    text-shadow: 0 1px 3px #43434339;
    margin-top: 240px;
}

.input-city
{
    width: 25%;
    height: 35px;
    border-radius: 15px;
    border-color: #929292;
    border-style: solid;
    border-width: 1.5px;
    background-color: white;
    display: flex;
    position: relative;
    margin-bottom: 150px;
    align-items: center;
    box-shadow: 0 1px 3px #959595;
}

.search-city
{
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    outline: none;
    padding-left: 20px;
    text-shadow: none;
    color: #929292;
}

.btnSearch
{
    font-size: 23px;
    color: #929292;
    position: absolute;
    right: 5%;
    cursor: pointer;
    z-index: 1000;
}

.card-weather 
{
    width: 25%;
    height: 151px;
    border-radius: 10px;
    background: linear-gradient(to top right, #c2f5fe, #65ceff);
    box-shadow: 0 0 5px #44444483;
    position: relative;
}

.big-sun 
{
    position: absolute;
    left: 50%;
    width: 40%;
    height: auto;
    margin: 0;
}

.sun 
{
    position: absolute;
    left: 87%;
    top: 20%;
    width: 11%;
    height: auto;
}

.contenido 
{
    width: 100%;
    height: 35%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    align-items: flex-end;
}

.current
{
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    text-align: center;
}

.current-info
{
    display: flex;
    margin: auto;
    padding: 0;
}

.current-info-2
{
    margin-top: -76px;
    margin-left: 15px;
}

.viento
{
    margin-top: -17px;
}

.estado
{
    margin-top: -60px;
    margin-bottom: 0px;
}

.humedad
{
    margin-top: -1px;
}

.temperatura 
{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 55px;
    font-weight: 1000;
    text-shadow: 0 1px 1px #53535337;
    margin-top: -15px;
    text-align: center;
}

.datos 
{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: auto;
    align-content: space-around;
}

.fecha 
{
    margin-bottom: 5px;
}

.stadistic
{
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    position: relative;
    margin-top: 100px;
}

.stadistic-table
{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #91e4ffc1;
    overflow-y: auto;
}

.stadistic-header-row
{
    background-color: #7cdeffc1 !important;
}

.stadistic-header
{
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    padding: 10px 0;
}

.stadistic-table tr:nth-child(even) {
    background-color: #d9faffc1;
}

.stadistic-table tr:nth-child(odd) {
    background-color: #eafdffc1;
}

.stadistic-row
{
    background-color: #dffbffc1;
    flex-wrap: wrap;
    border-radius: 20px;
}

.stadistic-text
{
    font-size: 16px;
    font-weight: 300;
    width: 100px;
    padding: 10px 0;
    color: #5e5e5e;
}