*
{
    font-family: 'Poiret One', sans-serif;
}

.btnSubmit
{
    width: 100%; 
    background-color: #f99a8e; 
    border: solid; 
    border-radius: 15px;
}

.btnSubmit:hover
{
    background-color: #ff8b80;
    border: solid; 
}

.check
{
    color: #8de5cb;
}

.delete
{
    color: #ff7e89;
}

.item
{
    background-color: #fffbea;
    border: solid #fcf8c5;
    border-radius: 15px;
}

.item-check
{
    background-color: #d6fffa;
    border: solid #bffff8;
    border-radius: 15px;
}