.container-chat
{
    margin-top: 20px !important;
    overflow-y: scroll;
    height: calc(100vh -160px);
}

.navbar
{
    background-color: #acacac !important;
}

.mio
{
    background-color: rgba(145, 242, 242, 0.864) !important;
    padding: 7px 10px !important;
    border-radius: 20px;
    margin-bottom: 3px;
}

.btn-send
{
    background-color: rgb(74, 207, 207) !important;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 3px #635f5f;
}

.btn-primary
{
    background-color: #2dd0dc !important;
    border: none !important;
    border-radius: 20px !important;
}

.btn-danger
{
    background-color: #ff4558 !important;
    border: none !important;
    border-radius: 20px !important;
}